#groundplan-viewer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  height: 750px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

#groundplan-viewer-buttons {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  gap: 10px;
  z-index: 3;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent; /* Remove the dimming effect here */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Ensure this is properly layered */
}

#hole {
  width: 500px; /* Initial width */
  height: 300px; /* Initial height */
  box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.7); /* Creates the effect of a hole */
  position: relative; /* For the resize handle positioning */
}

#resize-handle {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent white */
  cursor: nwse-resize; /* Diagonal resize cursor */
}
