.playStructure {
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  margin: -10px;
  overflow: auto;
  font-family: "Times New Roman", Times, serif;
}

#script-view {
  display: flex;
  flex-grow: 1;
  padding: 1em;
  flex-direction: column;
  overflow: auto;
  border: 1px solid #000;
  box-sizing: border-box;
  color: white;
  background-color: #444;
  position: relative;
}

#base-view {
  width: 100%;
  background-color: DarkGrey;
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
}

.playTitle {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.playDescription {
  font-size: 15px;
  text-align: center;
  font-style: italic;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.playEnding {
  font-size: 20px;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: bold;
}

.actTitle {
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.actDescription {
  font-size: 15px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  font-style: italic;
  margin-bottom: 10px;
}

.actEnding {
  font-size: 15px;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 10px;
  font-style: italic;
  font-weight: bold;
}

.sceneTitle {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.sceneLocation {
  font-size: 15px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: -5px;
  margin-bottom: 10px;
}

.sceneDescription {
  font-size: 15px;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
  font-style: italic;
}

.sceneEnding {
  font-size: 15px;
  text-align: right;
  padding-right: 10px;
  margin-bottom: 100px;
  font-style: italic;
  font-weight: bold;
}

.stageDirections {
  font-size: 15px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 8px;
  margin-top: 8px;
  font-style: italic;
}

.characterContent {
  margin-left: 10px;
}

.characterName {
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  margin-left: -10px;
  white-space: normal;
  display: inline;
}

.characterDialogue {
  white-space: normal;
  display: inline;
}

.characterDirection {
  white-space: normal;
  display: inline;
  font-style: italic;
  padding-right: 0.25em;
}

#character-list {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
  box-sizing: border-box;
  margin: -10px;
  overflow: auto;
}

#character-list-title {
  display: block;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

#table-of-contents {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
  box-sizing: border-box;
  margin: -10px;
  overflow: auto;
}

.playToC {
  display: block;
  font-size: 40px;
  color: inherit;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.actToC {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 30px;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

.sceneToC {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 20px;
  text-align: left;
  font-weight: normal;
  padding-left: 20px;
  padding-right: 10px;
  margin-bottom: 10px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#edit-dialog {
  background-color: black;
  padding: 20px;
  width: 40%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  overflow: visible;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between;
}

#edit-dialog h1 {
  text-align: center;
  text-decoration: underline;
}

#edit-dialog p {
  text-align: left;
  width: 100%;
  position: relative;
  overflow: visible;
}

#edit-dialog a {
  color: white;
  text-decoration: none;
}

#edit-dialog img.info {
  width: 0.75em;
  height: 0.75em;
  margin-left: 5px;
  margin-bottom: 2px;
  position: relative;
  vertical-align: middle;
}

#edit-dialog .wrapper {
  overflow: auto;
}

#edit-dialog img.action {
  width: 2em;
  height: 2em;
  align-self: flex-end;
}

#edit-dialog .action-container {
  width: calc(100% + 15px);
  margin-top: 5px;
  margin-bottom: -15px;
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  position: sticky;
}

#edit-dialog .info-parent {
  position: relative;
}

#edit-dialog .info-window {
  position: absolute;
  top: 2px;
  left: 175%;
  font-size: 12px;
  box-sizing: border-box;
  background-color: rgb(35, 34, 34);
  color: rgb(225, 218, 218);
  border: solid 1px rgb(225, 218, 218);
  border-radius: 5px;
  padding: 3px;
  display: none;
  z-index: 10000;
  text-align: center;
}

#character-name {
  font-size: 20px;
  text-align: center !important;
  margin-bottom: 10px;
}

#character-list {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 10px;
  box-sizing: border-box;
  margin: -10px;
  overflow: auto;
}
