.modal-background-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#add-contact-modal-window {
  position: relative;
  width: 560px;
  height: 90%;
  background-color: #121212;
  color: lightGrey;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  font-family: "Heuristica", serif;
  border: 1px solid lightGrey;
  box-shadow: 0 0 2px 2px rgba(211, 211, 211, 0.5);
}

#add-contact-table {
  width: 100%;
  height: 100%;
  position: relative;
}

#add-contact-title {
  display: block;
  font-size: 30px;
  text-align: center;
  text-decoration: underline;
  margin-top: 20px;
  margin-bottom: 20px;
}

#add-contact-form {
  padding: 30px 20px;
  overflow: auto;
}

#add-contact-id-container {
  position: absolute;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  top: 0px;
  right: 0px;
  margin-bottom: 10px;
}

#add-contact-id-container label {
  margin: 5px;
  font-size: 12px;
}

#add-contact-id-container input {
  width: 40px;
  padding: 5px 10px;
  color: lightgrey;
  font-size: 10px;
  background: #2b2b2b;
}

#add-contact-name-input-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

#add-contact-first-name-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

#add-contact-first-name-container label {
  font-size: 14px;
  margin-right: 5px;
}

#add-contact-first-name-container input {
  width: 124px;
  padding: 5px 10px;
  margin-right: 10px;
  color: lightgrey;
  font-size: 14px;
  background: #2b2b2b;
}

#add-contact-last-name-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  margin-bottom: 10px;
}

#add-contact-last-name-container label {
  margin-right: 5px;
  font-size: 14px;
}

#add-contact-last-name-container input {
  width: 124px;
  padding: 5px 10px;
  color: lightgrey;
  font-size: 14px;
  background: #2b2b2b;
}

#add-contact-email-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  margin: 5px 0px;
}

#add-contact-email-container label {
  font-size: 14px;
  margin-right: 5px;
}

#add-contact-email-container input {
  padding: 5px 10px;
  flex-grow: 1;
  color: lightgrey;
  font-size: 14px;
  background: #2b2b2b;
}

#add-contact-close-button {
  position: absolute;
  bottom: 15px;
  left: 16px;
  cursor: pointer;
  border: 1px solid lightGrey;
  border-radius: 5px;
  color: lightGrey;
  background-color: #121212;
  box-shadow: 0 0 1px 1px rgba(211, 211, 211, 0.5);
}

#add-contact-save-button {
  position: absolute;
  bottom: 15px;
  right: 16px;
  cursor: pointer;
  border: 1px solid lightGrey;
  border-radius: 5px;
  color: lightGrey;
  background-color: #121212;
  box-shadow: 0 0 1px 1px rgba(211, 211, 211, 0.5);
}
