@font-face {
  font-family: "Heuristica";
  src: url("../fonts/Heuristica/Heuristica-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Heuristica";
  src: url("../fonts/Heuristica/Heuristica-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Heuristica";
  src: url("../fonts/Heuristica/Heuristica-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Heuristica";
  src: url("../fonts/Heuristica/Heuristica-BoldItalic.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

body {
  font-family: "Heuristica", serif;
}
